@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(github.css);

$responsive-break: 768px;
$item-height: 42px;

@keyframes spin {
  to { transform: rotate(1turn); }
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.file-view {
  width: 70%;
  position: relative;
  max-width: 70em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;

  .loader {
    position: absolute;
    top: 2.2em;
    left: -20px;
    z-index: 999;
  }

  .top-bar {
    overflow: hidden;
    position: relative;

    .control {
      position: absolute;
      display: block;
      padding: 18px 0;
      bottom: 0;
      right: 0;

      span {
        display: inline-block;
        $bgsize: 18px;
        width: $bgsize;
        height: $bgsize;
        background-size: $bgsize;
        margin: 0 0 0 1em;
        cursor: pointer;
      }

      .new-file {
        background-image: url(new-file.svg)
      }

      .new-folder {
        background-image: url(new-folder.svg)
      }
    }
  }
}

.directory-nav {
  position: relative;
  display: block;
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    margin-right: 1.5em;
    padding: 18px 0;
    text-decoration: none;

    a {
      font-size: 11pt;
      color: #000;
    }

    a:hover:not(.active) {
      text-decoration: underline;
    }

    a.active {
      font-weight: bold;
      font-style: italic;
      position: relative;
      cursor: default;
    }
  }
}

.file-list {
  * {
    color: #fff;
  }

  $border-height: 8px;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.6);

  .file-item-list {
    border-top: 2px solid #1a1a1a;
    border-bottom: $border-height solid #222;
    background-color: #333;
  }

  .name, .modified {
    padding: 0 1em;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: $item-height;
  }

  .item, .header {
    height: $item-height;
  }

  .header {
    * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    background-color: #222;

    .asc, .desc {
      $arrow-size: 8px;
      display: inline-block;
      background-size: $arrow-size $arrow-size;
      background-repeat: no-repeat;
      width: $arrow-size;
      height: $arrow-size;
      margin-left: 1em;
    }

    .asc {
      background-image: url(ascending.svg);
    }

    .desc {
      background-image: url(descending.svg);
    }

    .name:hover, .modified:hover {
      cursor: pointer;
      background-color: #533;
    }
  }

  .item {
    position: relative;
    background-image: url(file-empty.svg);
    background-size: 1.6em;
    background-repeat: no-repeat;
    background-position: 1em 50%;
    padding: 0;
    margin: 0;

    .name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 3.5em;
    }

    .modified {
      overflow: hidden;
    }

    input {
      font-family: "Open Sans", sans-serif;
      border: none;
      border-radius: 2px;
      color: #000;
      width: 100%;
      height: 50%;
      padding-left: 0.5em;
    }
  }

  .item.dir {
    background-image: url(folder.svg);
  }

  .item.active {
    background-image: none;
  }

  .item:before {
    display: none;
    content: '';
    position: absolute;
    background-size: 1.6em;
    background-image: url(rolling.svg);
    background-repeat: no-repeat;
    background-position: 1em 50%;
    width: 3.5em;
    height: 100%;
    animation: spin 1s infinite steps(32);
  }

  .item.active:before {
    display: inline;
  }

  .item:hover {
    background-color: #433;
  }
}

.file-editor {
  position: relative;
  padding: 0.5em;
  max-height: 800px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 3px;

  pre {
    margin: 0;

    code {
      font-family: 'Source Code Pro', monospace;
      font-size: 9pt;
      overflow: visible;
    }
  }
}

.tooltip {
  $height: 26px;
  position: absolute;
  text-align: center;
  padding: 0 1em;
  font-size: 11px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 999;
  height: $height;

  span {
    line-height: $height;
  }

  .arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
}

$arrow-size: 8px;

.tooltip.top .arrow, .tooltip.bottom .arrow {
  left: 50%;
  transform: translate(-50%, 0);
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
}

.tooltip.top .arrow {
  bottom: -$arrow-size;
  border-top: $arrow-size solid #f00;
}

.tooltip.bottom .arrow {
  top: -$arrow-size;
  border-bottom: $arrow-size solid #f00;
}

.tooltip.right .arrow, .tooltip.left .arrow {
  top: 50%;
  transform: translate(0, -50%);
  border-top: $arrow-size solid transparent;
  border-bottom: $arrow-size solid transparent;
}

.tooltip.right .arrow {
  left: -$arrow-size;
  border-right: $arrow-size solid #f00;
}

.tooltip.left .arrow {
  right: -$arrow-size;
  border-left: $arrow-size solid #f00;
}

@media (max-width: $responsive-break) {
  .file-view {
    width: 90%;

    .file-list {
      .name {
        width: 100%;
      }

      .header .modified,
      .item.dir .modified {
        display: none;
      }

      .item {
        .name {
          padding-left: 3.5em;
          display: block;
        }

        .modified {
          padding-left: 4em;
          color: #aaa;
          font-size: 11px;
        }
      }

      .item:not(.dir) {
        .name, .modified {
          position: relative;
          top: 4px;
          height: $item-height/2 - 4px;
          line-height: $item-height/2 - 4px;
        }

        .name {
          padding-bottom: 0;
        }

        .modified {
          display: block;
          padding-top: 0;
          width: 100%;
        }
      }
    }
  }
}